.navbar-dark .navbar-nav a.nav-link {
	color: #4f4b4e;
	font-size: 20px;
	font-weight: bold;
	
  }
  .navbar-dark .navbar-nav a.nav-link:hover {
	color: rgb(7, 120, 120);
	font-size: 20px;
	font-weight: bold;
	
  }
  .navbar-toggler{
    color: black;
    background-color: black;
  }
  #navbar-content{
    
    justify-content: flex-end;
  }
  .pack{
    padding: 30px;
    margin:auto;
  }
  .dropdown-menu ul {
	list-style: none;
	padding: 30px;
  }
  .nav-a{
    text-decoration: none;
    font-size: 25px;
    color:black;
    padding: 20px;
    font-weight: bold;
  }
  .list-group-item{
    width: 300px;
    height: auto;
    color: rgb(39, 37, 37);
    font-size: 19px;
    background-color: rgb(252, 255, 255);
    font-weight: bold;
  }
  .list-group-item:hover{
    background-color: aqua;
  }
  .europe{
    margin: 20px;
    padding: 20px;
  }
  
        .navbar .megamenu{ padding: 1rem; }

/* ============ desktop view ============ */
@media all and (min-width: 992px) {

  .navbar .has-megamenu{position:static!important;}
  .navbar .megamenu{left:0; right:0; width:100%; margin-top:0;  }

}	
/* ============ desktop view .end// ============ */

/* ============ mobile view ============ */
@media(max-width: 991px){
  .navbar.fixed-top .navbar-collapse, .navbar.sticky-top .navbar-collapse{
    overflow-y: auto;
      max-height: 90vh;
      margin-top:10px;
  }
}



@media (max-width: 768px) {
	.carousel-inner img {
	  height: 400px; /* Adjust the height as needed for smaller screens */
	}
  }/*header*/